.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Home{
  padding: 30px;
  display: flex;
  text-decoration: none;
}
.List-genres{
  margin: 20px 0;
}
.btn{
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: skyblue;
  border-radius: 4px;
  margin: 10px 5px;
}

.gambar img {
    height: 300px;
    width: auto;
}
.card-movie.col-lg-3{
  background-color: whitesmoke;
  padding: 20px;
  color: black;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px #c8c8c863;
  display: flex;
}

.Title,.Rating,.Release {
    text-decoration: none;
    color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
